<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller='NarrowItDownController as foundList'>
    <div class="container">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="foundList.query">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="foundList.getMatchedItems()">Narrow It Down For Me!</button>
      </div>
    </div>

    <div class="container">
      <div>
        <found-items found="foundList.found" on-remove="foundList.onRemove(index)"> </found-items>
      </div>
    </div>
  </body>
</html>

